@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');

* {
    font-family: 'Montserrat', sans-serif;
}

body,
html {
    scroll-behavior: smooth;
}

/* Navbar/buttons/Private,Company */
.private-company {
    background-color: transparent;
    border: none;
    color: black;
    padding: 16px 32px 5px 17px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
    font-weight: bold;

}

.nav-item {
    padding-right: 15px;
}

.pri {
    border-right: #eeeeee solid 0.06px;
}

.nav-buttons {
    border-bottom: #eeeeee solid 0.06px;
    margin-bottom: 15px;
    margin-left: 10px;
}

.private-company:hover {
    opacity: 0.6
}

/* Navbar/Language */
.language {
    background-color: transparent;
    border: none;
    color: black;
    padding: 16px 32px 5px 17px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
    font-weight: bold;
    float: right;
}

.language img {
    margin-bottom: 9px;
    margin-right: 3px;
}

.language:hover {
    opacity: 0.6
}


/* Logo */

.logo {
    padding-bottom: 18px;
    margin-left: 20px;

}

.logo a {
    color: #51a5cc;
}

.logo a:hover {
    color: #555;
}

/* facebook-logo */
.fa-facebook-f {
    font-size: 75px;
}

/* Featurettes
------------------------- */



.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

/*Carousel*/
.main-carousel {
    margin-top: 26px;
}

.flickity-enabled:focus .flickity-viewport {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.carousel-cell {
    margin-right: 20px;
}

.carousel-cell img {
    border-radius: 5px;
}

.flickity-page-dots .dot.is-selected {
    background: white;
}

.flickity-page-dots {
    bottom: 20px;
}

.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
}

.flickity-page-dots .dot.is-selected {
    background: white;
}

/* to-top-button

    ------------------------- */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: black solid 0.02px;
    outline: none;
    background-color: #5cbeeb;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: #555;
}

/* text-info
------------------------- */
.text-background {
    /* border-top: #5cbeeb solid 0.06px; */
    background-color: #f8f9fa;
    border: solid 0.2px gray;
    border-radius: 5px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-right: 6em;
    padding-bottom: 20px;
}

.mt-3 {
    border-radius: 24px;
    background-color: #51a5cc;
}

.p-info {
    text-align: center;
    color: rgb(100, 100, 100);
    padding-top: 20px;

    line-height: 24px;
}

/* Content-container */
.marketing {
    margin-top: 140px;
}

/* PARALLAX SCROLLING
==================================
======================================== */


.bgimg-1,
.bgimg-2,
.bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bgimg-1 {
    background-image: url("Images/tie-690084_1920\(1\).jpg");
    min-height: 100%;
}

.bgimg-2 {
    background-image: url("Images/business-3152586_1920.jpg");
    min-height: 400px;
}

.bgimg-3 {
    background-image: url("Images/writing-1149962_1920.jpg");
    min-height: 400px;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #5cbeeb;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    border-radius: 5px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

/* CONTACT */

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(Images/writing-pad-3202747_1920.jpg);
    background-size: cover;
    height: 100%;
    line-height: 2;
}

#contact ul {
    list-style: none;
    font-size: 0.9em;
}

/*---VARFÖR SOS---*/

#varför i {
    font-size: 2em;
    line-height: 1.7;
    padding-right: 20px;
}

#varför {
    list-style: none;
}

.section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 100px auto;
    width: 1000px;
    text-align: center;
    background: #5cbeeb;
    padding: 10px;
    color: #fff;
    line-height: 1.7;
    border-radius: 10px;
}

.section ul {
    text-align: left;
}

/*---FOOTER---*/

#partners {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: #d6d6d6 solid 1px;
}

.footer-img {
    max-width: 200px;
}

@media only screen and (max-device-width: 1024px) {

    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: scroll;
    }
}

/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (min-width: 40em) {

    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}