@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');

* {
    font-family: 'Montserrat', sans-serif;
}

body,
html {
    scroll-behavior: smooth;
    height: 100vh;
}

/* Navbar/buttons/Private,Company */

.private-company {
    background-color: transparent;
    border: none;
    color: black;
    padding: 16px 32px 5px 17px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
    font-weight: bold;

}

.nav-item {
    padding-right: 15px;
}

.pri {
    border-right: #eeeeee solid 0.06px;
}

.nav-buttons1 {
    border-bottom: #eeeeee solid 0.06px;
    margin: 0 auto;
    margin-left: 10px;
}

.nav-buttons {
    border-bottom: #eeeeee solid 0.06px;
    margin: 0 auto;
    margin-left: 10px;
}

.private-company:hover {
    opacity: 0.6
}

/* Navbar/Language */
.language {
    background-color: transparent;
    border: none;
    color: black;
    padding: 16px 32px 5px 17px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
    font-weight: bold;
    float: right;
}

.language img {
    margin-right: 5px;
}

.language:hover {
    opacity: 0.6
}


/* Logo */

.logo {
    /* padding-bottom: 18px; */
    margin-left: 20px;
}

.logo a {
    color: #51a5cc;
}

.logo a:hover {
    color: #555;
}



@media (max-width: 400px) {
    .logo i {
        font-size: 2.7em;
    }
}

.logo img {
    max-width: 70%;
    width: 400px;
}

/* facebook-logo */
.face1 {
    font-size: 75px;
}



/* Featurettes
------------------------- */

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

.featurette img {
    max-width: 70%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide .title {
    bottom: 20px;
    left: 20px;
    width: 100%;
    float: left;
    top: 50px;
    position: absolute;
    color: #FFFFFF;
    font-size: 3.2em;
}

.swiper-slide .text {
    bottom: 20px;
    left: 20px;
    float: left;
    top: 130px;
    position: absolute;
    width: 800px;
    color: #FFFFFF;
    font-size: 1.4em;
}

.swiper-slide img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* to-top-button

    ------------------------- */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: black solid 0.02px;
    outline: none;
    background-color: #5cbeeb;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: #555;
}

/* text-info
------------------------- */
.text-background {
    /* border-top: #5cbeeb solid 0.06px; */
    background-color: #f8f9fa;
    border: solid 0.2px gray;
    border-radius: 5px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-right: 6em;
    padding-bottom: 20px;
}

.mt-3 {
    border-radius: 24px;
    background-color: #51a5cc;
}

.p-info {
    text-align: center;
    color: rgb(100, 100, 100);
    padding: 20px 10px;

    line-height: 28px;
}

/* Content-container */
.marketing {
    margin-top: 50px;
}

/* PARALLAX SCROLLING
==================================
======================================== */


.bgimg-1,
.bgimg-2,
.bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bgimg-1 {
    background-image: url("Images/tie-690084_1920\(1\).jpg");
    min-height: 100%;
}

.bgimg-2 {
    background-image: url("Images/business-3152586_1920.jpg");
    min-height: 400px;
}

.bgimg-3 {
    background-image: url("Images/writing-1149962_1920.jpg");
    min-height: 400px;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #5cbeeb;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    border-radius: 5px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

/* CONTACT */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 0 16px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

/* ======= */

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(Images/writing-pad-3202747_1920.jpg);
    background-size: cover;
    height: 100vh;
    line-height: 2;
}

#contact ul {
    list-style: none;
    font-size: 0.9em;
}

/*---VARFÖR SOS---*/

#varför i {
    font-size: 2em;
    line-height: 1.7;
    padding-right: 20px;
}

#varför {
    list-style: none;
}

.section1 {
    margin: 100px auto;
    width: 0 auto;
    text-align: center;
    background: #5cbeeb;
    padding: 20px 10px;
    color: #333;
    line-height: 1.7;
    border-radius: 10px;
}

.section1 .row {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

.section1 .row .column .card img {
    margin: 0 auto;
    max-width: 100%;
}

.section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 100px auto;
    max-width: 1000px;
    text-align: center;
    background: #5cbeeb;
    padding: 20px 10px;
    color: #333;
    line-height: 1.7;
    border-radius: 10px;
}

form {
    width: 350px;
}

.section ul {
    text-align: left;
}

.section p {
    max-width: 400px;
}

/*---FOOTER---*/

#partners {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.partners {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.line {
    border: 0.7px solid #666;
    width: 90%;
    height: .5px;
}

.footer-img {
    max-width: 200px;
}

.containerr {
    display: none;
}

@media only screen and (max-device-width: 1024px) {

    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: scroll;
    }
}

/* RESPONSIVE CSS
  -------------------------------------------------- */
@media (min-width: 1270px) {

    #contact {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: url(Images/writing-pad-3202747_1920.jpg);
        background-size: cover;
        height: 100vh;
        line-height: 2;
    }

    #contact ul {
        list-style: none;
        font-size: 0.9em;
        margin-left: 57px;
    }

    .ipad-p-info {
        display: none;
    }

    .display-none {
        display: none;
    }

}

/* ======================= */

@media (max-width: 1200px) {
    .swiper-slide .title {
        font-size: 2em;
        top: 20px;
    }

    .swiper-slide .text {
        font-size: 1em;
        width: 650px;
        top: 70px;
    }
}

/* =========================== */
@media (max-width: 768px) {
    .swiper-slide .title {
        font-size: 1.6em;
        top: 20px;
        width: 730px;
    }

    .swiper-slide .text {
        font-size: .8em;
        width: 450px;
        top: 70px;
        display: block;
    }

}

/* =========================== */
@media (max-width: 540px) {
    .swiper-slide .title {
        font-size: 1.4em;
        top: 20px;
        left: 50px;
        width: 500px;
    }

    .swiper-slide .text {
        font-size: .6em;
        width: 350px;
        top: 100px;
        left: 50px;
    }

    .swiper-container {
        height: 40%;
    }

    .c1 {
        display: none;
    }

    .c2 {
        display: block !important;
    }
}

/* =========================== */
@media (max-width: 460px) {
    .swiper-slide .title {
        font-size: 1em;
        top: 20px;
        left: 40px;
        width: 250px;
    }

    .swiper-slide .text {
        text-align: center;
        font-size: 1em;
        width: 250px;
        top: 100px;
        left: 40px;
    }
}

/* =========================== */
@media (min-width: 1050px) {

    .display-none2 {
        display: none;
    }

}

/* =========================== */
@media (max-width: 1049px) {

    .display-none1 {
        display: none;
    }

}

/* =========================== */
@media (max-width: 579px) {
    .display-a {
        display: none;
    }

    .display-r {
        display: block;
    }
}

@media (min-width: 579px) {
    .display-d {
        display: none;
    }

    .display-f {
        display: block;
    }
}

@media (max-width: 375px) {

    .face1 {
        display: none;
    }

    .fi {
        padding-right: 47px;

    }

    .logo imag {
        display: flex;

    }

    .face2 {
        display: block;
    }


}

/* =========================== */

@media (max-width: 769px) {
    .display-none3 {
        display: none;
    }


    #partners {
        display: none;
    }

    .containerr {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    #partners img {
        margin: 20px 0;
    }

    .nav-item {
        padding-right: 0;
    }

    .text {
        display: none;
    }

    .fa-tools {
        display: none;
    }

    .order-md-1 {
        display: flex;
        justify-content: flex-start;
    }
}

/* =========================== */
@media (min-width: 768px) {

    .display-non {
        display: none;
    }

}